<div class="checkpoint-list">

  <div class="col-sm-12" ng-show="$ctrl.loading">
    <spinner></spinner>
    <br />
    <br />
  </div>

  <div ng-hide="$ctrl.loading" class="loaded-content">
    <blockquote class="blockquote text-center" ng-show="!$ctrl.checkpoints.length">
      <small>(Archive is empty. Time to get to work! 🚀)</small>
      <br />
      <br />
      <p class="quote-body">&ldquo;{{ $ctrl.quote.body }}&rdquo;</p>
      <footer class="blockquote-footer">{{ $ctrl.quote.author }}</footer>
    </blockquote>

    <table class="table table-striped table-sm table-responsive" ng-show="$ctrl.checkpoints.length">
      <thead>
        <tr>
          <th>Archived</th>
          <th>Projects</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="checkpoint in $ctrl.checkpoints">
          <td scope="row">
            <a ng-href="/checkpoints/{{checkpoint.id}}">
              {{ checkpoint.compact_completed_at }}
            </a>
          </td>
          <td>
            <div ng-repeat="project in checkpoint.projects">
              <span class="inline-project-label" ng-style="$ctrl.styleProject(project)">
                {{ project.label }}
              </span>
              <br />
            </div>
          </td>
          <td>{{ checkpoint.completed_tasks_count}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
