<div class="checkpoint-show">
  <a href="/tasks">
    <i class="fa fa-arrow-left"></i>
    All Tasks
  </a>
  &nbsp;
  <i class="fa fa-angle-right"></i>
  &nbsp;
  <a href="/checkpoints">
    <i class="fa fa-level-up"></i>
    All Checkpoints
  </a>

  <br />
  <br />
  <h1>{{ $ctrl.checkpoint.human_completed_at }}</h1>
  <h6 class="text-muted">{{ $ctrl.checkpoint.completed_tasks_count}} Completed Task(s)</h6>
  <br />

  <div ng-if="$ctrl.checkpoint.tasks.length">
    <project-container tasks="$ctrl.checkpoint.tasks"></project-container>
  </div>
</div>
