<div class="checkpoint-list">

  <div class="col-sm-12" ng-show="$ctrl.loading">
    <spinner></spinner>
    <br />
    <br />
  </div>

  <div ng-hide="$ctrl.loading">
    <blockquote class="blockquote text-center" ng-show="!$ctrl.checkpoints.length">
      <small>(Archive is empty. Time to get to work! 🚀)</small>
      <br />
      <br />
      <p class="quote-body">&ldquo;{{ $ctrl.quote.body }}&rdquo;</p>
      <footer class="blockquote-footer">{{ $ctrl.quote.author }}</footer>
    </blockquote>

    <div ng-repeat="checkpoint in $ctrl.checkpoints">
      <div class="card">
        <div class="card-block">
          <a ng-href="/checkpoints/{{checkpoint.id}}">
            <h5 class="card-title">{{ checkpoint.human_completed_at }}</h5>
          </a>
          <h6 class="card-subtitle mb-2 text-muted"><strong>{{ checkpoint.completed_tasks_count}}</strong> Completed Task(s)</h6>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
