<div class="checkpoint-show">
  <div class="col-sm-12" ng-show="$ctrl.loading">
    <spinner></spinner>
    <br />
    <br />
  </div>

  <div ng-hide="$ctrl.loading" class="loaded-content">
    <br />
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center" style="color: #24b47e; text-transform: uppercase;">{{ $ctrl.checkpoint.human_completed_at }}</h2>
      </div>
      <div class="col-sm-12">
        <h4 class="text-center" style="color: #24b47e; text-transform: uppercase;">&#43;&nbsp;{{ $ctrl.checkpoint.points | number }}</h4>
      </div>
    </div>
    <br />

    <div style="padding: 10px; background: #eff2f7;">
      <div style="color: #317ec2; margin-bottom: 0;">
        <p>
          <strong>&lt;&lt;&lt;&lt;&lt;&lt;&lt;</strong> Completed <strong>{{ $ctrl.checkpoint.completed_tasks_count}}</strong> task(s) in <strong>{{ $ctrl.tasks.length }}</strong> project(s)
        </p>
      </div>
      <task-list-summary top-level="true" tasks="$ctrl.tasks"></task-list-summary>
    </div>

    <div style="padding: 10px; background: #f4eff7;">
      <div style="color: #9831c4; margin-bottom: 0;">
        <p>
          <strong>&gt;&gt;&gt;&gt;&gt;&gt;&gt;</strong> Pending <strong>{{ $ctrl.checkpoint.open_tasks_count }}</strong> task(s) in <strong>{{ $ctrl.currentTasks.length }}</strong> project(s)
        </p>
      </div>
      <task-list-summary skip-extended-override="true" top-level="true" tasks="$ctrl.currentTasks"></task-list-summary>
    </div>

  </div>
</div>
