<div class="checkpoint-show">
  <div class="col-sm-12" ng-show="$ctrl.loading">
    <spinner></spinner>
    <br />
    <br />
  </div>

  <div ng-hide="$ctrl.loading">
    <h5 class="text-center text-muted">{{ $ctrl.checkpoint.human_completed_at }} Report</h5>

    <hr />

    <p>
      You have completed <strong>{{ $ctrl.checkpoint.completed_tasks_count}}</strong> task(s) in <strong>{{ $ctrl.tasks.length }}</strong> project(s).
    </p>

    <div ng-if="$ctrl.tasks.length">
      <project-container-summary tasks="$ctrl.tasks" read-only="true"></project-container>
    </div>
  </div>
</div>
