<div ng-if="$ctrl.showForm()">
  <form id="comment-form"
        name='$ctrl.commentForm'
        ng-submit="$ctrl.commentForm.$valid && $ctrl.handleSubmit()"
        ng-class="{'form-valid': $ctrl.commentForm.$valid, 'form-invalid': $ctrl.commentForm.$invalid}"
        novalidate>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="{{ $ctrl.placeHolderText() }}" ng-model="$ctrl.todoText" required>
      <span class="input-group-btn">
        <button class="btn btn-primary">Add</button>
      </span>
    </div>
  </form>
</div>

<task-list ng-if="$ctrl.tasks.length" top-level="true" parent-task="$ctrl.parentTask" tasks="$ctrl.tasks" read-only="$ctrl.readOnly"></task-list>
<div ng-if="!$ctrl.tasks.length">
  <br />
  <blockquote class="blockquote text-center">
    <small>({{ $ctrl.quoteDirectionText() }})</small>
    <br />
    <br />
    <p class="quote-body">&ldquo;{{ $ctrl.quote.body }}&rdquo;</p>
    <footer class="blockquote-footer">{{ $ctrl.quote.author }}</footer>
  </blockquote>
</div>

<div ng-if="$ctrl.tasksIndex">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Archive {{$ctrl.completedTaskCount()}} Completed Tasks</h4>
      <button class="btn btn-primary card-link" ng-disabled="$ctrl.completedTaskCount() == 0" ng-click="$ctrl.createCheckpoint()">Create Checkpoint</button>
      or
      <a href="/checkpoints">View All Checkpoints</a>
    </div>
  </div>
</div>
