<div ng-style="$ctrl.listStyle">
  <div class="task-row no-word-break">
    <span ng-if="!$ctrl.readOnly">
      <i class="fa fa-bars reorder-icon"></i>
      <button ng-disabled="$ctrl.task.state=='completed'" type='button' class="btn btn-primary btn-circle" ng-click="$ctrl.completeTask($ctrl.task)">
        <i class="fa fa-check"></i>
      </button>
      <button ng-if="$ctrl.allowChildAddition()" type="button" class="hidden-task-link btn btn-success btn-circle" ng-click="$ctrl.toggleForm()">
        <i class="fa fa-plus"></i>
      </button>
    </span>
    <a ng-href="/tasks/{{$ctrl.task.id}}">
      <span class="item-title" ng-class="{'completed': $ctrl.task.state=='completed'}">{{ $ctrl.task.label }}</span>
    </a>
  </div>

  <div ng-show="$ctrl.showForm">
    <ul class="no-list-style">
      <li>
        <form id="comment-form"
              class="add-task-form"
              name='$ctrl.commentForm'
              ng-submit="$ctrl.commentForm.$valid && $ctrl.handleSubmit()"
              ng-class="{'form-valid': $ctrl.commentForm.$valid, 'form-invalid': $ctrl.commentForm.$invalid}"
              novalidate>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Add subtask to {{ $ctrl.task.label }}" ng-model="$ctrl.todoText" required>
            <span class="input-group-btn">
              <button class="btn btn-primary">Add</button>
            </span>
          </div>
        </form>
      </li>
    </ul>
  </div>

  <task-list parent-task="$ctrl.task" tasks="$ctrl.task.children" read-only="$ctrl.readOnly"></task-list>
</div>
