<li ng-if="$ctrl.task" class="sortable-item">
  <div class="task-row">
    <i class="fa fa-bars reorder-icon"></i>
    <button type='button' class="btn btn-primary btn-circle" ng-click="$ctrl.completeTodo(todo)">
      <i class="fa fa-check"></i>
    </button>
    <span class="item-title">{{ $ctrl.task.label }}</span>
    <div class="float-right">
      <button type="button" class="hidden-task-link btn btn-success btn-circle" ng-click="$ctrl.toggleForm()">
        <i class="fa fa-plus"></i>
      </button>
      <button type="button" class="hidden-task-link btn btn-danger btn-circle" ng-click="$ctrl.removeTask($ctrl.task)">
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </div>

  <div ng-show="$ctrl.showForm">
    <ul>
      <li>
        <form id="comment-form"
              class="add-task-form"
              name='$ctrl.commentForm'
              ng-submit="$ctrl.commentForm.$valid && $ctrl.handleSubmit()"
              ng-class="{'form-valid': $ctrl.commentForm.$valid, 'form-invalid': $ctrl.commentForm.$invalid}"
              novalidate>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Add task to {{ $ctrl.task.label }}" ng-model="$ctrl.todoText" required>
            <span class="input-group-btn">
              <button class="btn btn-primary">Add</button>
            </span>
          </div>
        </form>
      </li>
    </ul>
  </div>

  <task-list parent-task="$ctrl.task", tasks="$ctrl.task.children"></todo-list>
</li>
