<div class="task-show">

  <div class="col-sm-12" ng-show="$ctrl.loading">
    <spinner></spinner>
    <br />
    <br />
  </div>

  <div ng-hide="$ctrl.loading">
    <div class="alert alert-success" role="alert" ng-if="$ctrl.task.human_completed_at && !$ctrl.task.human_archived_at">
      <strong><i class="fa fa-check"></i> Hooray!</strong> This task was completed {{ $ctrl.task.human_completed_at }} 🎉
    </div>
    <div class="alert alert-warning" role="alert" ng-if="$ctrl.task.human_archived_at">
      <strong><i class="fa fa-check"></i> Hooray!</strong> This task was archived {{ $ctrl.task.human_archived_at }} 🎉
    </div>

    <span ng-if="$ctrl.task.parent">
      <a class="parent-link" ng-style="$ctrl.parentLinkStyle" ng-href="/tasks/{{ $ctrl.task.parent.id }}">
        <i class="fa fa-level-up"></i>
        {{ $ctrl.task.parent.label }}
      </a>
    </span>
    <div ng-if="!$ctrl.readOnly" class="float-right">
      <a href="" ng-click="$ctrl.toggleEditMode()" title="Edit {{$ctrl.task.label}}">
        <i class="fa fa-cog"></i>
      </a>
    </div>
    <br />

    <div ng-if="!$ctrl.editMode">
      <h1 class='white-text task-title no-word-break' ng-style="$ctrl.titleStyle">{{$ctrl.task.label}}</h1>
      <br />
      <div ui-ace ng-change="$ctrl.updateTask()" ng-readonly="$ctrl.readOnly" ng-model-options="{ debounce: 1000 }" ng-model="$ctrl.task.notes"></div>
      <hr>
      <div ng-if="$ctrl.task">
        <project-container tasks="$ctrl.task.children" parent-task="$ctrl.task" read-only="$ctrl.readOnly"></project-container>
      </div>
    </div>

    <div ng-if="$ctrl.editMode">
      <br />
      <form id="comment-form" name='$ctrl.commentForm' ng-submit="$ctrl.commentForm.$valid && $ctrl.updateTask()" ng-class="{'form-valid': $ctrl.commentForm.$valid, 'form-invalid': $ctrl.commentForm.$invalid}" novalidate>
        <div class="form-group row">
          <label for="task-label-control" class="col-sm-2 col-form-label col-form-label-lg">Label</label>
          <div class="col-sm-10">
            <input type="text" ng-model="$ctrl.task.label" class="form-control form-control-lg" id="task-label-control" placeholder="Label">
          </div>
        </div>
        <div class="form-group row" ng-if="!$ctrl.task.parent">
          <label for="task-color-control" class="col-sm-2 col-form-label">Color</label>
          <div class="col-sm-10">
            <input type="text" ng-model="$ctrl.task.color_hex" class="form-control" id="task-color-control">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" ng-model="$ctrl.task.pinned">
              Pinned <i>&mdash; Do not allow completion. (Useful for long-running tasks)</i>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button> or
            <a href="" ng-click="$ctrl.toggleEditMode()">Cancel</a>
          </div>
        </div>
      </form>
      <br />
      <div class="alert alert-danger" role="alert">
        <p>Delete {{$ctrl.task.label}} along with <strong>{{$ctrl.task.children.length}}</strong> sub-tasks.</p>
        <div class="small-12">
          <a data-confirm="Are you sure?" class="btn btn-danger" rel="nofollow" data-method="delete" ng-href="/tasks/{{$ctrl.task.id}}">Delete {{$ctrl.task.label}}</a>
        </div>
      </div>
    </div>
  </div>

</div>
