<div class="task-show">
  <a href="/tasks">
    <i class="fa fa-arrow-left"></i>
    All Tasks
  </a>
  <span ng-if="$ctrl.task.parent">
    &nbsp;
    <i class="fa fa-angle-right"></i>
    &nbsp;
    <a class="parent-link" ng-style="$ctrl.parentLinkStyle" ng-href="/tasks/{{ $ctrl.task.parent.id }}">
      <i class="fa fa-level-up"></i>
      {{ $ctrl.task.parent.label }}
    </a>
  </span>
  <br />

  <h1 class='white-text task-title no-word-break' ng-style="$ctrl.titleStyle">{{$ctrl.task.label}}</h1>

  <br />

  <div ui-ace="{
    onLoad: $ctrl.aceLoaded,
    onChange: $ctrl.aceChanged
  }"></div>

  <div ng-if="!$ctrl.readOnly">
    <br />
    <button type="button" class="btn btn-primary" ng-click="$ctrl.buttonClicked()">Save</button>
    or
    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" ng-href="/tasks/{{$ctrl.task.id}}">Delete</a>
  </div>

  <div ng-if="$ctrl.showChildren()">
    <hr>
    <project-container tasks="$ctrl.task.children" parent-task="$ctrl.task" read-only="$ctrl.readOnly"></project-container>
  </div>
</div>
