<div class="todo-list">
  <ul class="list-items" ng-show"$ctrl.todos.length">
    <li ng-repeat="todo in $ctrl.todos">
      <button type='button' class="btn btn-primary" ng-click="$ctrl.completeTodo(todo)">
        <span class='material-icons'>Complete</span>
      </button>
      <span class="item-title">{{ todo.label }}</span>
      <button type="button" class="btn btn-danger float-right" ng-click="$ctrl.removeTodo(todo)">
        <span class='material-icons'>Remove</span>
      </button>

      <todo-list parent-id="todo.id", todos="todo.children"></todo-list>
    </li>
  </ul>

  <form id="comment-form"
        name='$ctrl.commentForm'
        ng-submit="$ctrl.commentForm.$valid && $ctrl.handleSubmit()"
        ng-class="{'form-valid': $ctrl.commentForm.$valid, 'form-invalid': $ctrl.commentForm.$invalid}"
        novalidate>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add Item" ng-model="$ctrl.todoText" required>
      <span class="input-group-btn">
        <button class="btn btn-primary">Add</button>
      </span>
    </div>
  </form>

</div>
