<div class="todo-list">
  <ul class="list-items" ng-show"$ctrl.todos.length">

    <li ng-show="!$ctrl.showForm">
      <p>
        <a href="#" class="add-task-link" ng-click="$ctrl.enableForm()">
          <i class="fa fa-plus-circle"></i>
          Add Task to <b>{{ $ctrl.parentTask.label }}</b>
        </a>
      </p>
    </li>

    <li ng-show="$ctrl.showForm">
      <form id="comment-form"
            name='$ctrl.commentForm'
            ng-submit="$ctrl.commentForm.$valid && $ctrl.handleSubmit()"
            ng-class="{'form-valid': $ctrl.commentForm.$valid, 'form-invalid': $ctrl.commentForm.$invalid}"
            novalidate>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Add Item" ng-model="$ctrl.todoText" required>
          <span class="input-group-btn">
            <button class="btn btn-primary">Add</button>
          </span>
        </div>
      </form>
      <p>
        <a href="#" ng-click="$ctrl.disableForm()">Cancel</a>
      </p>
    </li>

    <li ng-repeat="todo in $ctrl.todos">
      <div class="task-row">
        <button type='button' class="btn btn-primary btn-circle" ng-click="$ctrl.completeTodo(todo)">
          <i class="fa fa-check"></i>
        </button>
        <span class="item-title">{{ todo.label }}</span>
        <button type="button" class="btn btn-danger btn-circle float-right" ng-click="$ctrl.removeTodo(todo)">
          <i class="fa fa-remove"></i>
        </button>
      </div>

      <todo-list parent-task="todo", todos="todo.children"></todo-list>
    </li>
  </ul>

</div>
