<div class="todo-list">
  <form id="comment-form"
        name='$ctrl.commentForm'
        ng-submit="$ctrl.commentForm.$valid && $ctrl.handleSubmit()"
        ng-class="{'form-valid': $ctrl.commentForm.$valid, 'form-invalid': $ctrl.commentForm.$invalid}"
        novalidate>
    <input type="text" placeholder="Add Item" ng-model="$ctrl.todoText" required>
    <button class="fancy-button"><span class='material-icons'>add_circle_outline</span></button>
  </form>

  <ul class="list-items" ng-show"$ctrl.todos.length">
    <li ng-repeat="todo in $ctrl.todos">
      <h1 class="item-title">{{ todo }}</h1>
      <ul class="actions">
        <li>
          <button type='button' class="fancy-button confirm" ng-click="$ctrl.completeTodo(todo)">
            <span class='material-icons'>check_circle</span>
          </button>
        </li>
        <li>
          <button type="button" class="fancy-button alert" ng-click="$ctrl.removeTodo(todo)">
            <span class='material-icons'>cancel</span>
          </button>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="list-items complete" ng-show"$ctrl.completedTodos.length">
    <li ng-repeat="todo in $ctrl.completedTodos">
      <h1 class="item-title">{{ todo }}</h1>
    </li>
  </ul>
</div>
