*~
db/schema.rb
config/database.yml
db/production.sqlite3
log/*
nbproject/*
tmp/cache/*
tmp/uploads/*
tmp/sass-cache/*
tmp/assets-cache/*
tmp/letter_opener/*
tmp/react-rails/*
system/*
*.xcf
*.swp
tmp/restart.txt
public/system/*
public/images/*
public/system/*
public/assets/*
start_unicorn
config.ru
script/node_modules
patches/*
node_modules/*
.powenv
