@import "bootstrap";
@import "font-awesome";

.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1;
  border-radius: 15px;

  cursor:pointer;
  cursor:hand;
}

body {
  padding-top: 15px;
  background: #0074D9;
}

.main-column {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */

  -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
}

project-container > task-list > ul {
  margin-left: 5px;
  margin-top: 10px;
  padding: 0px;
}

.add-task-form {
  margin: 3px 0;
}

ul {
  list-style-type: none;
}

.task-row {
  padding: 3px;

  &:hover {
    background: #eee;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* future proofing */
    -khtml-border-radius: 3px; /* for old Konqueror browsers */
  }
}
