@import "bootstrap";
@import "font-awesome";

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

body {
  padding-top: 15px;
  background: #0074D9;
}

.main-column {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */

  -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
}

.main-column > todo-list > .todo-list > ul {
  margin: 0px;
  padding: 0px;
}

.todo-list {
  margin-bottom: 5px;
  padding-top: 10px;

  ul {
    list-style-type: none;

    .task-row {
      padding: 3px;

      &:hover {
        background: #eee;
      }
    }
  }

  .add-task-link {
    padding-left: 3px;
  }

  form {
    margin-top: 5px;
  }
}
