!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", :itemtype => "http://schema.org/Event"}
  %head
    %title Niceynicey
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
  %body{'ng-app' => "application"}
    .container
      = yield
    = javascript_include_tag 'application'
